/* Class styling */

.gradient {
    background-image: linear-gradient(to right, rgb(92, 92, 250), rgb(10, 10, 63));
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.bold {
    font-weight: bold;
}

/* ID Styling */

#city-search {
    font-size: 30px;
}

#srch-btn {
    width: 12em;
    font-size: medium;
}